@keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 
.AsideSocial{
    position: fixed;
    z-index: 300;
    top: 0px;
    height: 100vh;
    display: none;
    align-items: center;
    div{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        animation: fadeInLeft 1s both;
        animation-delay: 2s;
        a{
            svg{
                width: 23px;
                height: 23px;
                color: rgb(0,34,96);
            }
            &:hover,
            &:active{
                transform: scale(1.1);
            }
        }
    }
    @media (min-width: 500px){
        display: flex;
    }

}