.Form-Container{
    max-width: 1300px;
    margin: 0 auto;
    p{
        color: #4eabff;
        margin: 0px;
        font-size: 1.1rem;
        font-weight: 500;
    }
    h2{
        color: rgb(0,34,96);
        font-size: 2rem;
        letter-spacing: 2px;
    }
    div{
        width: 80%;
        margin: 0 auto;
        form{
            input, textarea{
                margin-bottom: 20px;
                width: 100%;
                padding: 8px 10px;
                font-size: 1.1rem;
                color: rgb(0,34,96);
                outline: none;
                border: none;
                border-bottom: 1px solid #4eabff;
            }
            ::placeholder{
                font-size: 1.1rem;
            }
            .Form-Divide{
                width: 100%;
            }
            .Form-Submit{
                border: 1px solid #4eabff;
                color: rgb(0,34,96);
                background: none;
                border-radius: 20px;
                padding: 10px 15px;
                font-size: 1.2rem;
                font-weight: 500;
                letter-spacing: 1px;
                max-width: 200px;
                transition: all .5s ease;
                cursor: pointer;
                margin-top: 10px;
                &:hover,
                &:active{
                    background: #002260;
                    color: white;
                }
            }
        }
    }
    @media (min-width: 500px){
        .Form-Divide{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }
    }
    @media (min-width: 800px){
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}
.Form-Container-Info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .Contact-Container{
        width: 100%;
        display: flex;
        align-items: center;
        margin-block: 20px;
        .Contact-Icon{
            background: #4eabff;
            width: 40px;
            height: 40px;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            margin-right: 25px;
            svg{
                width: 80%;
            }
        }
        div{
            h3{
                margin: 0px;
                font-size: 1.2rem;
            }
            p{
                color: #5a5a5a;
                font-size: 1rem;
            }
        }
    }
}
.Msg{
    width: 100%;
    color: white;
    background: #4eabff;
    padding: 5px;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 0px;
    min-height: 35px;
    height: auto;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    p{
        margin: 0px;
        color: white;
    }
    &.Error{
        opacity: 1;
        background: #ff0000cb;
    }
    &.True{
        opacity: 1;
    }
}