.Presentation-Container{
    background: #E8E9EA;
    margin-top: 67px;
    min-height: 93vh;
    .AnimationElement{
        grid-column-start: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Presentation-Container_Details{
        width: 80%;
        margin: 0 auto;
        padding: 40px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3{
            color: rgb(0,34,96);
            font-size: 2rem;
            letter-spacing: 2px;
            margin-bottom: 10px;
        }
        .Presentation-Greeting{
            color: #4eabff;
            font-weight: 500;
            margin: 0px;
        }
        p{
            color: #5a5a5a;
            font-size: 1rem;
            line-height: 30px;
            span{
                color: rgb(0,34,96);
                font-size: 1.2rem;
                font-weight: 500;
            }
            .Tecnologies{
                color: #5a5a5a;
                font-size: 1rem;
                font-weight: 600;
                letter-spacing: 1px;
            }
        }
        div{
            width: 100%;
            max-width: 350px;
            display: flex;
            justify-content: space-around;
            flex-direction: initial;
            flex-wrap: wrap;
            margin: 0px;
            padding: 0px;
            a{
                padding: 10px 19px;
                border-radius: 27px;
                font-weight: 500;
                margin-block: 10px;
                max-width: 150px;
                text-align: center;
                transition: all .5s ease;
            }
            a:first-child{
                background: #4eabff;
                color: #ffffff;
                &:hover,
                &:active{
                    background: rgb(0,34,96);
                    color: #ffffff;
                }
            }
            a:last-child{
                border: 1px solid #4eabff;
                color: #5a5a5a;
                max-width: 200px;
                &:hover,
                &:active{
                    background: #4eabff;
                    color: #ffffff;
                }
            }
        }
    }
    @media (min-width: 1000px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        div{
            grid-column-start: 1;
            grid-row-start: 1;
        }
    }
}