header{
    background: white;
    padding-block: 12px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 200;
    div{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .Logo{
            width: 40px;
            margin: 0px;
        }
        h2{
            margin: 0px;
        }
        nav{
            width: 500px;
            justify-content: space-between;
            display: none;
            a{
                color: #5a5a5a;
                border-bottom: 1px solid transparent;
            }
             a:hover,
             a:active{
                border-bottom: 1px solid #4eabff;
             }
            .Active{
                border-bottom: 1px solid #4eabff;
            }
        }
        button{
            border: none;
            background: none;
            font-size: 1.4rem;
        }
        @media (min-width: 700px){
            button{
                display: none;
            }
            nav{
                display: flex;
            }
        }
    }
}
.MenuMovil{
    background: #E8E9EA;
    width: 250px;
    height: 89vh;
    position: fixed;
    right: 0px;
    top: 67px;
    transform: translateX(250px);
    transition: all 1s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-block: 30px 0px;
    a{
        text-decoration: none;
        font-size: 1.3rem;
        color: #5a5a5a;
        margin-block: 20px;
        letter-spacing: 1px;
    }
    &.Active{
        transform: translateX(0px);
    }
}