@keyframes cabeza {
    0% {
      transform: rotate(3deg);
    }
    50% {
      transform: rotate(-3deg);
    }
    100% {
      transform: rotate(3deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes css-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes arrow-animation {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(1px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .Animation {
    width: 80%;
    position: relative;
  }
  .Head-Animation {
    position: absolute;
    width: 16%;
    left: 41%;
    top: 22%;
    animation: cabeza 1s both infinite;
    transition: all 1s ease;
  }
  .Road {
    position: absolute;
    width: 10%;
    height: 10%;
    top: 0px;
    left: 2%;
    animation: rotate-center 10s linear infinite both;
  }
  .css {
    position: absolute;
    width: 16%;
    top: 3%;
    right: 3%;
    animation: css-animation 1s both infinite;
    transition: all 2s ease;
  }
  .Arrow {
    position: absolute;
    top: 22%;
    right: 27%;
    width: 5%;
    animation: arrow-animation 1s both infinite;
  }
  